{% extends 'orderup/index.html' %}
    {% block content %}
    <div class="order">
        <a href="{% url 'orderup_home' %}" class="links">
            <span class="material-symbols-outlined" id="back">
                arrow_back_ios
                </span> back                
        </a>
        <h3>Order Summary:
            {{order.slug}}
        </h3>
    </div>
    <div class="box1">
            <div class="box2">
                <h1 class="rand"><strong>DIY</strong></h1>
                <h2 class="name">{{order.customer}}</h2>
                <h4 class="number">{{order.customer.phone}}</h4>
                <h4 class="email">{{order.customer.email}}</h4>
                <div class="billing">
                    <h2 class="billing_text">BILLING ADDRESS</h2>
                    <h4>{{order.customer.street}}</h4>
                    <h4>{{order.customer.city}}, {{order.customer.state_code}}  {{order.customer.zip_code}}</h4>
                </div>
                <div class="orderbox2">
                    <div class="delivery">Delivery <span class="bracket"></span></div>
                        <div class="info">
                            FULFILLMENT TYPE
                            
                            <div class="type">{{order.delivery_type}}</div>
                </div>
                <div class="orderbox">
                            <div class="headers">REGULAR PRODUCTS
                                <span class="locationheader">LOCATION</span>
                                <span class="priceheader">UNIT PRICE</span>
                                <span class="quantity">QUANTITY</span>
                            </div>
                            {% for items in order.item.all %}
                            <div class="itemphotos">
                                
                                <h4 class="SKU">SKU: {{items.SKU}}</h2>
                                <img src="{{items.image}}" alt="dont work">
                                <h3 class="item_name">{{items.item_name}}</h3>
                        
                                <select class="location">
                                        
                                    {% if order.location %}
                                    <option Value="">sd-0{{order.location}}</option>
                                    {% endif %}
                                    {% for i in range%}
                                    <option Value="">sd-0{{i}}</option>

                                    {% endfor %}
                                    
                                    </select> 
                                       
                                     
                                
                                
                                <span class="price">${{items.price}}/each</span>
                                <span class="quant">{{order.quantity}}</span>
                            </div>
                            {% endfor %}
                            
                            
                        </div>
                </div>
                
            </div>
    </div>
    {% endblock %}